.form-line {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
}

.form-line select,
.form-line input {
  width: 100%;
  /* width: 12rem; */

  padding: 0.4rem;

  border-radius: 0.3rem;

  border: 1px solid gray;
}
