.genreCard {
    display: flex;
    max-width: 50%;
    justify-content: flex-start;
}

.genre p {
    padding: 0.3em 0.3em 0.3em 0.3em; 
    width: auto;
    background-color: hsl(32, 20%, 37%, 80%);
    border: solid 0.02em #262626;
    border-radius: 1.2em;
    color: #F2F2F2;

}

.genre p:hover {
    background-color: hsl(32, 20%, 37%, 50%);
    box-shadow: 3px 3px 5px 2px hsla(0, 0%, 15%, 0.34);
    transition: 0.4s;
    color: #262626;

}